@import "tailwindcss";

@layer base {
  body {
    background-color: #0F172A;
    /* dark */
    color: white;
    font-family: 'Inter', sans-serif;
  }
}

/* Custom Utilities for v4 if needed, though mostly automatic */
@theme {
  --color-primary: #6366F1;
  --color-primary-dark: #4F46E5;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
  --color-dark: #0F172A;
  --color-dark-card: #1E293B;
  --font-sans: Inter, sans-serif;
}